.ContactUsDiv {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.shopDiv {
  width: 248px;
  margin-right: 114px;
}

.title {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-size: 33px;
  color: #000;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.text {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 35px;
}

.iconList {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

.helpList {
  list-style-type: none;
  display: flex;
  gap: 114px;
}

.itemsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.ContactUsList {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainTextItem {
  width: 248px;
}

.liTitle {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: #000;
}

.link {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.link:visited {
  color: #000;
}
