.section {
  margin-bottom: 80px;
}

.div {
  border-radius: 40px;
  width: 1239px;
  height: 866px;
  background: #f0f0f0;
  padding: 70px 64px 76px 64px;
}

.title {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #000;
  margin-bottom: 64px;
  letter-spacing: 2px;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
}

.imgCasual {
  width: 407px;
  height: 289px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.imgFormal {
  width: 684px;
  height: 289px;
}

.imgParty {
  width: 684px;
  height: 289px;
  margin-right: 20px;
}

.imgGym {
  width: 407px;
  height: 289px;
}
