.container {
  border-radius: 40px;
  width: 1239px;
  height: 866px;
  background: #f0f0f0;
  padding: 70px, 64px, 76px, 70px;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
}

.imgCasual {
  width: 407px;
  height: 289px;
}

.imgFormal {
  width: 684px;
  height: 289px;
}

.imgParty {
  width: 684px;
  height: 289px;
}

.imgGym {
  width: 407px;
  height: 289px;
}
