.productContainer {
  margin-top: 36px;
  display: flex;
}
/* 
.imgWrapper {
  width: 610px;
  height: 530px;
  object-fit: cover;
} */

.rightPart {
  margin-left: 40px;
}

.title {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
  letter-spacing: 1.5px;
  margin-bottom: 14px;
}

.description {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.price {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}

.rate {
  display: flex;
  margin-bottom: 14px;
}

.rateText {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display: flex;
}

.rateTextOpacity {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  color: rgba(0, 0, 0, 0.6);
}

.chooseText {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

.block {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.colorBtn {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-color: #000;
}

.list {
  display: flex;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

.sizeBtn {
  cursor: pointer;
  border: none;
  border-radius: 62px;
  padding: 12px 24px;
  width: 105px;
  height: 46px;
  background: #f0f0f0;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.activeSize {
  background-color: black;
  color: white;
}

.icon {
  display: none;
}

.cartContainer {
  display: flex;
  gap: 20px;
}

.countContainer {
  display: flex;
  border-radius: 62px;
  padding: 16px 20px;
  width: 170px;
  height: 52px;
  background: #f0f0f0;
  justify-content: space-between;
}

.countBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.addToCartBtn {
  border: none;
  border-radius: 62px;
  padding: 16px 54px;
  width: 400px;
  height: 52px;
  background: #000;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


