
.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: "Satoshi", sans-serif;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
  }
  
  .btn {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  