.section {
  background-color: #f8f8f8;
  margin-bottom: 80px;
}

.title {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #000;
  margin-bottom: 20px;
}

.name {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #000;
  margin: 15px 0px 16.5px 0px;
}

.text {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(0, 0, 0, 0.6);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navigationWrapper {
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 10;
}
