.div{
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.text {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
}

.iconList{
    display: flex;
    list-style-type: none;
}
